/*
Written by Mej for Enterprise project
*/

.login_in_fields
{
   border-color: azure;
    border-radius: 5px;

}

.login_status
{
    font-size: medium;
    text-align: left;
}

.inputFields, .searchBox, #startGame{
    border:turquoise solid 1px;
}

.errorMessages
{
    color: red;
    font-size: small;
}

.errorFields
{

    border:red solid 1px;
}

#login_info
{
    color: black ;
    font-weight: bold;
}

.logout_link
{
    padding:10px;
}

/*
#logged_in_message {
    display:none;
}
*/

#gameBoard {
    border-color: gray;
}

.boardRow {
    background-color: forestgreen;
    color:white;
    font-size: larger;
}
.cell {
    width:100px;
    height:100px;
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;

}

.statusLabel {
    font-weight: bold;
    color: lightslategray;
}

.statusInfo {
    font-weight: bold;
    color: black;
}






