/*
Written by Mej for Enterprise project
*/

.login_in_fields
{
   border-color: azure;
    border-radius: 5px;

}

.login_status
{
    font-size: medium;
    text-align: left;
}

.inputFields, .searchBox, #startGame{
    border:turquoise solid 1px;
}

.errorMessages
{
    color: red;
    font-size: small;
}

.errorFields
{

    border:red solid 1px;
}

#login_info
{
    color: black ;
    font-weight: bold;
}

#logout_link
{
    padding-left:10px;
    color: #191E1F;

}


#login_button {
    margin-right:0px;
    text-align: right;
}
.boardRow {
    color:black;
}
.cell {
    width:100px;
    height:100px;
    font-size: 80px;
    text-align: center;
    background-color: cyan;
    font-family: sans-serif;
}

.cell:hover{
   background-color: darkcyan;
}

.statusLabel {
    font-weight: bold;
    color: lightslategray;
}

.statusInfo {
    font-weight: bold;
    color: black;
}

.top-left {
    border-top-left-radius:20px;
}

.top-right{
    border-top-right-radius:20px;
}

.bottom-left{
    border-bottom-left-radius:20px;
}

.bottom-right {
    border-bottom-right-radius:20px;
}

.gallery_imgs {
    width: 780px;
    height: 273px;
}



